#
# This file has configuration parameters that you will need in order to run Redemption, such as the
# connection string for its database. Please rename the file to "secrets.env" and set the required
# properties appropriately for your environment.
#

# Connection string for MongoDB
spring.data.mongodb.uri=mongodb://mongo:27017/redemption