body {
    background-size: cover;
    background: darkblue url('../img/maxresdefault.jpg') no-repeat fixed center center;
    font-family: 'Droid Sans', sans-serif;
    color: white;
}

#copyright {
    position: absolute;
    bottom: 0;
    font-size: x-small;
}