.box-inner p:first-of-type {
    font-size: x-large;
}

.box-inner {
    margin: 5px;
    padding: 15px;
    background-color: #383838;
}

#security-box-inner {
    background-color: darkred;
}

#staff-edit-select {
    background-color: #383838;
}

#log-box-items {
    list-style: none;
    padding-left: 0;
}