#security-box-inner {
    margin: 5px;
    padding: 5px;
    background-color: darkred;
}

#auth-box-inner {
    margin: 5px;
    padding: 15px;
    background-color: #383838;
}

#perm-box-inner {
    margin: 5px;
    padding: 15px;
    background-color: #383838;
}

#perm-box-inner p:first-of-type {
    font-size: x-large;
}

#log-box-inner {
    margin: 5px;
    padding: 15px;
    background-color: #383838;
    font-size: small;
}

#log-box-inner p:first-of-type {
    font-size: x-large;
}

#log-box-content {
}

#log-box-items {
    list-style: none;
    padding-left: 0;
}

#copyright {
    margin: 5px;
    padding: 15px;
    background-color: #383838;
    font-size: xx-small;
}