#title span:first-of-type {
    font-family: 'Permanent Marker', cursive;
    font-size: 10em;
}

#login-form {
    color: black;
}

#login-form p:first-of-type {
    background-color: white;
    padding: 5px 15px;
}