#title span {
    font-family: 'Permanent Marker', cursive;
}

#title span:nth-of-type(1) {
    font-size: 10em;
}

#title span:nth-of-type(2) {
    font-size: 8em;
}

#title span:nth-of-type(3) {
    font-size: 6em;
}

#title span:nth-of-type(4) {
    font-size: 4em;
}

#login-form {
    color: black;
}

#login-form p:first-of-type {
    background-color: white;
    padding: 5px 15px;
}